
body {
  background: #eee;
  font-family: sans-serif;
}

.card {
  width: 400px;
  background: #fff;
  margin: 16px auto;
}

.title {
  background: #e3f4ff;
  padding: 8px;
 font-size: 16px;
 margin: 8px;
}

.content {
  background: #e3f4ff;
  padding-top: 16px;
 padding-bottom: 16px;
 padding-left: 8px;
 padding-right: 8px;
 margin: 8px;
}

.button-container {
  background: #e3f4ff;
  margin: 8px;
  text-align: center;

  

  
  padding: 8px;
 

  
  
}

button {
  background: rgb(235, 230, 230);
  border: 2px solid rgb(238, 232, 232);
  display: block;
  margin:auto;
  

  
}